<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CRUD</title>
  </head>

  <body>
    <div class="navbar">
      <h1>CRUD APP</h1>
      <a href="/insert">Insert +</a>
    </div>
    <table>
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Course</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% students.forEach((student, index) => { %>
        <tr>
          <td><%= student.first_name %></td>
          <td><%= student.last_name %></td>
          <td><%= student.email %></td>
          <td><%= student.course %></td>
          <td>
            <a href="/update/<%= student._id %>" class="btn-1">Update</a>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </body>
</html>
